@model List<Employee>

<h2>Список сотрудников</h2>

@using (Html.BeginForm("UpdateSalaries", "Home", FormMethod.Post))
{
    <table>
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>ФИО</th>
                <th>Заработная плата</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(m => m[i].Id)</td>
                    <td>@Html.DisplayFor(m => m[i].FullName)</td>
                    <td>@Html.TextBoxFor(m => m[i].Salary)</td>
                    @Html.HiddenFor(m => m[i].Id)
                    @Html.HiddenFor(m => m[i].FullName)
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Сохранить изменения" />
}
